{{- $profile := .Site.Params.home.profile -}}
<div class="home-profile">
    {{- $avatar := $profile.avatarURL -}}
    {{- with $profile.gravatarEmail -}}
        {{- $avatar = md5 . | printf "https://www.gravatar.com/avatar/%v?s=240&d=mp" -}}
    {{- end -}}
    {{- if $avatar -}}
        <div class="home-avatar">
            {{- $menus := $.Site.Menus.main | default slice -}}
            {{- with index $menus 0 -}}
                {{- $url := .URL | relLangURL -}}
                {{- with .Page -}}
                    {{- $url = .RelPermalink -}}
                {{- end -}}
                <a href="{{ $url }}"{{ with .Title | default .Name }} title="{{ . }}"{{ end }}{{ if (urls.Parse $url).Host }} rel="noopener noreffer" target="_blank"{{ end }}>
                    {{- dict "Src" $avatar | partial "plugin/image.html" -}}
                </a>
            {{- else -}}
                {{- dict "Src" $avatar | partial "plugin/image.html" -}}
            {{- end -}}
        </div>
    {{- end -}}

    {{- with $profile.title -}}
        <h1 class="home-title">
            {{- . | safeHTML -}}
        </h1>
    {{- end -}}
    
    {{- if $profile.social -}}
        <div class="links">
            {{- $socialMap := resources.Get "data/social.yml" | transform.Unmarshal -}}
            {{- $socialArr := slice -}}
            {{- range $key, $value := .Site.Params.social -}}
                {{- $social := $key | lower | index $socialMap | default dict -}}
                {{- if $value -}}
                    {{- if reflect.IsMap $value -}}
                        {{- with $value.weight -}}
                            {{- $social = dict "Weight" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.prefix -}}
                            {{- $social = dict "Prefix" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.template -}}
                            {{- $social = dict "Template" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.id -}}
                            {{- $social = dict "Id" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.url -}}
                            {{- $social = dict "Url" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.title -}}
                            {{- $social = dict "Title" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.newtab -}}
                            {{- $social = dict "Newtab" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.icon -}}
                            {{- $social = dict "Icon" . | merge $social -}}
                        {{- end -}}
                    {{- else if ne $value true -}}
                        {{- $social = dict "Id" $value | merge $social -}}
                    {{- end -}}
                    {{- if $social.Icon.Simpleicons -}}
                        {{- $prefix := ($.Scratch.Get "cdn" | default dict).simpleIconsPrefix -}}
                        {{- $social = dict "Prefix" $prefix | dict "Icon" | merge $social -}}
                    {{- end -}}
                    {{- $socialArr = $socialArr | append $social -}}
                {{- end -}}
            {{- end -}}
            {{- range sort $socialArr "Weight" -}}
                {{- partial "plugin/social.html" . -}}
            {{- end -}}
        </div>
    {{- end -}}

    {{- with $profile.subtitle -}}
        <h2 class="home-subtitle">
            <div>
            Hi! I am a third-year Computer Science PhD student at the
    University of Toronto, advised by <a
    href="http://www.cs.toronto.edu/~jacobson/">Alec Jacobson</a>
          and working in Computer Graphics and Geometry Processing.
          I am a <a href="https://vanier.gc.ca">Vanier Doctoral
                  Scholar</a> and the winner of the 2021
              <a
              href="https://www.artsci.utoronto.ca/graduate/graduate-funding/graduate-scholarships#graduate-scholarships-accordion-4">University
                of Toronto FAS Dean's Doctoral
                  Excellence Scholarship</a>. I have interned twice at <a href="https://research.adobe.com">Adobe Research</a> under the mentorship of <a href="https://noamaig.github.io">Noam Aigerman</a> and twice at the <a href="http://www.fields.utoronto.ca">Fields Institute of Mathematics</a>. I am also an organizer of the <a href="https://toronto-geometry-colloquium.github.io">Toronto Geometry Colloquium</a> and a member of <a href="https://www.wigraph.org">WiGRAPH</a>. Before all that, I completed a B.Sc. in Mathematics and a B.Sc. in Physics at the <a href="http://www.uniovi.es/en">University of Oviedo</a>.
              </div>
            <br>
            Please <b>use the tabs at the top right to navigate this website</b>, or use the search bar if you already know what you're looking for! Feel free to <a href="mailto:sgsellan@cs.toronto.edu">email me</a> if you want to chat and <a href="https://www.twitter.com/sellan_s">follow me on twitter</a> to stay up to date on my research!
        </h2>
    {{- end -}}

    
</div>
